body {
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 14px;
    line-height: 1.42857143;
    color: #333;
    background-color: #fff;
    padding-right: 0 !important;
}

div {
    display: block;
}

p {
	margin: 0 0 10px;
	display: block;
}

ul, menu, dir {
    display: block;
    list-style-type: disc;
}

li {
    display: list-item;
}

a:hover, a:focus {
	text-decoration: none;
}

.wrapper {
    height: 100%;
    position: relative;
    overflow-x: hidden;
    overflow-y: auto;
}

.wrapper:before, .wrapper:after {
    content: " ";
    display: table;
}

.wrapper:after {
    clear: both;
}

.main-header {
    position: relative;
    max-height: 100px;
    z-index: 1030;
}

.main-header .logo {
    background-color: #367fa9;
    color: #fff;
    border-bottom: 0 solid transparent;
    transition: width .3s ease-in-out;
    display: block;
    float: left;
    height: 50px;
    font-size: 20px;
    line-height: 50px;
    text-align: center;
    width: 230px;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    padding: 0 15px;
    font-weight: 300;
    overflow: hidden;
}

.main-header .logo.logouser {
    background-color: #B95E0D;
}

.main-header .navbar {
    background-color: #333;
    transition: margin-left .3s ease-in-out;
    margin-bottom: 0;
    margin-left: 230px;
    border: none;
    min-height: 50px;
    border-radius: 0;
}

.main-header .navbar.navbaruser {
    background-color: #e67e22;
} 

.navbar-nav>.user-menu .user-image {
    float: left;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    margin-right: 10px;
    margin-top: -2px;
}

.main-header .navbar .nav>li>a {
    color: #fff;
}

.navbar-custom-menu .navbar-nav>li>a {
    padding-top: 15px;
    padding-bottom: 15px;
    line-height: 20px;
}

.main-header .navbar-custom-menu a, .main-header .navbar-right a {
    color: inherit;
    background: transparent;
}

.nav>li>a {
    position: relative;
    display: block;
    padding: 10px 15px;
}

.main-header .navbar .nav>li>a:hover {
	    background: rgba(0,0,0,0.1);
    color: #f6f6f6;	
}

.main-header .navbar-custom-menu a, .main-header .navbar-right a {
    color: inherit;
    background: transparent;
}

.main-header .navbar .nav>li>a:focus {
	background: rgba(0,0,0,0.1);
    color: #f6f6f6;
}

.navbar-custom-menu .navbar-nav>li>a {
    padding-top: 15px;
    padding-bottom: 15px;
    line-height: 20px;
}
.navbar-static-top {
    z-index: 1000;
    border-width: 0 0 1px;
}

.navbar-custom-menu>.navbar-nav>li {
    position: static;
}

.navbar-custom-menu .navbar-nav>li {
    float: left;
}

.navbar-custom-menu>.navbar-nav {
    float: right;
	margin: 0;
	}

.skin-blue .main-header .navbar .sidebar-toggle {
    color: #fff;
}

.main-header .sidebar-toggle {
    float: left;
    background-color: transparent;
    background-image: none;
    padding: 15px 15px;
    font-family: fontAwesome;
}

[role=button] {
    cursor: pointer;
}

.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0,0,0,0);
    border: 0;
}

.navbar-custom-menu>.navbar-nav>li>.dropdown-menu {
    position: absolute;
    right: 5%;
    left: auto;
    border: 1px solid #ddd;
    background: #fff;
}

.navbar-nav>.user-menu>.dropdown-menu, .navbar-nav>.user-menu>.dropdown-menu>.user-body {
    border-bottom-right-radius: 4px;
    border-bottom-left-radius: 4px;
}

.navbar-nav>.user-menu>.dropdown-menu {
    border-top-right-radius: 0;
    border-top-left-radius: 0;
    padding: 1px 0 0 0;
    border-top-width: 0;
    width: 280px;
}

.dropdown-menu {
    box-shadow: none;
    border-color: #eee;
}
.navbar-custom-menu>.navbar-nav>li {
    position: static;
}
.navbar-custom-menu .navbar-nav>li {
    float: left;
}
.main-header .navbar .nav .open>a, .main-header .navbar .nav>li>a:hover, .skin-blue .main-header .navbar .nav>li>a:active, .skin-blue .main-header .navbar .nav>li>a:focus {
	    background: rgba(0,0,0,0.1);
    color: #f6f6f6;
}

.navbar-custom-menu .navbar-nav>li>a {
    padding-top: 15px;
    padding-bottom: 15px;
    line-height: 20px;
}

.navbar-custom-menu>.navbar-nav>li>.dropdown-menu {
    position: absolute;
    right: 5%;
    left: auto;
    border: 1px solid #ddd;
    background: #fff;
}

.navbar-nav>.user-menu>.dropdown-menu, .navbar-nav>.user-menu>.dropdown-menu>.user-body {
    border-bottom-right-radius: 4px;
    border-bottom-left-radius: 4px;
}

.navbar-nav>.user-menu>.dropdown-menu {
    border-top-right-radius: 0;
    border-top-left-radius: 0;
    padding: 1px 0 0 0;
    border-top-width: 0;
    width: 280px;
}

.navbar-nav>.user-menu>.dropdown-menu>li.user-header {
    height: 175px;
    padding: 10px;
    text-align: center;
}

.main-header li.user-header {
    background-color: #3c8dbc;
}

.navbar-nav>.user-menu>.dropdown-menu>li.user-header>img {
    z-index: 5;
    height: 90px;
    width: 90px;
    border: 3px solid;
    border-color: transparent;
    border-color: rgba(255,255,255,0.2);
}

.navbar-nav>.user-menu>.dropdown-menu>li.user-header {
    height: 175px;
    padding: 10px;
    text-align: center;
}

.navbar-nav>.user-menu>.dropdown-menu>li.user-header>p {
    z-index: 5;
    color: #fff;
    color: rgba(255,255,255,0.8);
    font-size: 17px;
    margin-top: 10px;
}

.navbar-nav>.user-menu>.dropdown-menu>.user-footer {
    background-color: #f9f9f9;
    padding: 10px;
}


.main-header .navbar-custom-menu, .main-header .navbar-right {
    float: right;
}

.content-wrapper {
    transition: transform .3s ease-in-out,margin .3s ease-in-out;
    margin-left: 230px;
    z-index: 800;
	background-color:#ecf0f5;
}

.content-wrapper.content-wrapper-user {
    margin-left: 0;
}

.sidebar a:hover {
    text-decoration: none;
}

.jumbotron {
	background-color: #fff;
}

.content-header {
    background: transparent;
	    position: relative;
    padding: 15px 15px 0 15px;
}

.content-header>h1 {
    margin: 0;
    font-size: 24px;
}

.content-header>h1>small {
    font-size: 15px;
    display: inline-block;
    padding-left: 4px;
    font-weight: 300;
}

.content {
    min-height: 250px;
    padding: 15px;
    margin-right: auto;
    margin-left: auto;
    padding-left: 15px;
    padding-right: 15px;
}

.box {
	position: relative;
    border-radius: 3px;
    background: #ffffff;
    margin-bottom: 20px;
    width: 100%;
    box-shadow: 0 1px 1px rgba(0,0,0,0.1);
}

.project-box {
	border-top: 3px solid #f1c40f;
}

.user-box {
    border-top: 3px solid #4288df;
}

.category-box {
    border-top: 3px solid #8e44ad;
}

.funding-box {
    border-top: 3px solid #00a65a;
}

.history-box {
    border-top: 3px solid #c0392b;
}

.analytics-box {
    border-top: 3px solid #e67e22;
}

.reactivation-box {
    border-top: 3px solid #7f8c8d;
}
.category-box h3 {
    color: #8e44ad;
}

.category-box h3 strong {
    padding-left: 38px;
}

.box-header {
    color: #444;
    display: block;
    padding: 10px;
    position: relative;
}

.box-header .box-title {
    display: inline-block;
    font-size: 18px;
    margin: 0;
    line-height: 1;
}

.box-body {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    border-bottom-right-radius: 3px;
    border-bottom-left-radius: 3px;
    padding: 10px;
}

.small-box {
	border-radius: 2px;
    position: relative;
    display: block;
    margin-bottom: 20px;
    box-shadow: 0 1px 1px rgba(0,0,0,0.1);
}

.small-box h3  {
	font-size: 35px;
    font-weight: bold;
    margin: 0 0 10px 0;
    white-space: nowrap;
    padding: 0;
	z-index: 5;
}

.small-box p {
	font-size: 17px;
}

.small-box .icon {
    transition: all .3s linear;
    position: absolute;
    top: -10px;
    right: 10px;
    z-index: 0;
    font-size: 90px;
    color: rgba(0,0,0,0.15);
}

.small-box > .inner {
	padding:10px;
}

.small-box > .small-box-footer {
    position: relative;
    text-align: center;
    padding: 3px 0;
    color: #fff;
    color: rgba(255,255,255,0.8);
    display: block;
    z-index: 10;
    background: rgba(0,0,0,0.1);
    text-decoration: none;	
}

.ion {
    display: inline-block;
    font-family: "Ionicons";
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    text-rendering: auto;
    line-height: 1;
}

.ion:before {
	display: inline-block;
    font-family: "Ionicons";
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    text-rendering: auto;
    line-height: 1;
}

.ion-connection-bars:before {
    content: "\f274";
}

.ion-cash:before {
	content: "\f316";
}

.ion-bulb:before {
	content: "\f36c";
}

.ion-android-contacts:before {
	content: "\f2d9";
}

.bg-blue {
	background-color:#4288df !important;
	color:#fff !important;
}

.bg-green {
	background-color:#00a65a !important;
	color:#fff !important;
}

.bg-yellow {
	background-color:#f39c12 !important;
	color:#fff !important;
}

.bg-red {
	background-color:#dd4b39 !important;
	color:#fff !important;
}

.main-sidebar {
	background-color: #222d32;
	position: absolute;
    top: 0;
    left: 0;
    padding-top: 50px;
    min-height: 100%;
    width: 230px;
    z-index: 810;
    transition: transform .3s ease-in-out,width .3s ease-in-out;

}

.sidebar {
	padding-bottom: 10px;
}

.sidebar-menu {
    list-style: none;
    margin: 0;
    padding: 0;
}

 .sidebar-menu>li.header {
    color: #4b646f;
    background: #1a2226;
	    overflow: hidden;
    text-overflow: clip;
}

.sidebar-menu li.header {
    padding: 10px 25px 10px 15px;
    font-size: 12px;
}

.sidebar-menu>li {
    position: relative;
    margin: 0;
    padding: 0;
}

.sidebar-menu>li>a {
    padding: 12px 5px 12px 15px;
    display: block;
	
    border-left: 3px solid transparent;
}

 .sidebar-menu>li:hover>a, .sidebar-menu>li.active>a {
    color: #fff;
    background: #1e282c;
    border-left-color: #3c8dbc;
}

.sidebar-menu>li>a>.fa, .sidebar-menu>li>a>.glyphicon, .sidebar-menu>li>a>.ion {
    width: 20px;
}

.sidebar-menu li>a>.pull-right-container {
    position: absolute;
    right: 10px;
    top: 50%;
    margin-top: -7px;
}
.sidebar-menu>li .label, .sidebar-menu>li .badge {
    margin-right: 5px;
}

.pull-right {
    float: right!important;
}

 .sidebar-menu>li>.treeview-menu {
    margin: 0 1px;
    background: #2c3b41;
}

.sidebar-menu .treeview-menu {
    display: none;
    list-style: none;
    padding: 0;
    margin: 0;
    padding-left: 5px;
}

.label {
    display: inline;
    padding: .2em .6em .3em;
    font-size: 75%;
    font-weight: 700;
    line-height: 1;
    color: #fff;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: .25em;
}

 .sidebar a {
    color: #b8c7ce;
}

.user-panel {
    white-space: nowrap;
    position: relative;
    width: 100%;
    padding: 10px;
    height:100%;
    overflow: hidden;
}	

.user-panel > .info {
		color: #fff;
    padding: 5px 5px 5px 15px;
    line-height: 1;
    position: absolute;
    left: 55px;
}

.user-panel>.info>p {
    font-weight: 600;
    margin-bottom: 9px;
}

.user-panel:before, .user-panel:after {
    content: " ";
    display: table;
}

.user-panel:after {
    clear: both;
}

.user-panel > .image > img {
	    width: 100%;
    max-width: 45px;
    height: auto;
}

.img-circle {
	border-radius: 50%;
}

img {
	vertical-align: middle;
}

.fa {
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
}

.list-group-unbordered>.list-group-item {
    border-left: 0;
    border-right: 0;
    border-radius: 0;
    padding-left: 0;
    padding-right: 0;
}

.list-group-item-user {
    text-align: center;
}

.list-group-item-user.active, .list-group-item-user.active:focus, .list-group-item-user.active:hover {
    background-color: #FF9C3A;
    color: #fff;
    border-color: #fff;
    text-decoration: none;
}

.list-group-item-user > a {
    color: #000000;
}

.row .category-row {
    padding-left: 15px;
}

.row .category-row-box {
    padding: 0 15px;
}

.row .extra-bottom-padding{
   margin-bottom: 10px;
}

.badge-1 {
    background-color: #f1c40f;
}

.badge-2, .badge-3 {
    background-color: #95a5a6;
}

.badge-4, .badge-5 {
    background-color: #d35400;
}

.user-projects-nav h4 {
    margin-top: 0;
}

.badge-success {
    background-color: #5cb85c;
}

.badge-primary {
    background-color: #3a87ad;
}

#crowdfunder-summary {
    padding: 50px 0;
    text-align: center;
    background-color: #B95E0D;
    color: #FFFFFF;
}

.overlay {
    background: rgba(03,03,03,0.6);
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
}

#home {
    background-image: url(banner.png);
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 400px;
    text-align: center;
    align-items: center;
    vertical-align: middle;
    display: flex;
}

#home h1 {
    margin-bottom: 50px;
    font-size: 5em;
    font-weight: 700;
    letter-spacing: 15px;
    color: #ececec;
    text-transform: uppercase;
}

#projects-summary {
    padding: 20px 0;
    background-color: #e0e0e0;
    text-align: center;
}

#crowdfunder-summary h1 {
    font-size: 3em;
    font-weight: 700;
    letter-spacing: 5px;
    color: #ececec;
}

#crowdfunder-summary #counters > div > span {
    font-size: 1.5em;
}